
/* 반응형 */

#responsiveWeb{
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 30px;
  background: url('../image/bac.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.bac_size{
  width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.bac_size img{
  width: 1000px;
}

.bac_size .txt{
  
}











